name: Publish to PyPI
on:
  push:
    tags:
      - '*'
jobs:
  build-and-publish:
    runs-on: windows
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.8'
      - name: Install Dependencies
        run: |
          pip install build twine
      - name: Build
        run: |
          python -m build
      - name: Publish
        run: |
          python -m twine upload dist/* --username __token__ --password ${{ secrets.PYPI_API_TOKEN }}
